/* Add this to your global CSS */
.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-no-spinner {
  -moz-appearance: textfield;
}